html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Allow scrolling on the body */
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

#__next {
  height: 100%; /* Ensure Next.js wrapper takes full height */
}

.menu-container {
  position: relative;
  z-index: 1000;
}

.content {
  /*height: calc(100% - 60px); /* Adjust 60px to match your menu height */
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.swiper {
  width: 100%;
  flex: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: #000;
  opacity: 0.1;
}

.swiper-pagination-bullet-active {
  background: #02e6ff;
  opacity: 0.6;
}

/* Adjust z-index of other components when menu is open */
.menu-container.open ~ .content {
  z-index: -1;
}

.sponsor-showcase {
  height: 100vh; /* Set height to 100vh */
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom right, #e9d5ff, rgb(221, 153, 153), rgb(175, 236, 175), rgb(201, 201, 245));
  overflow: hidden;
}

.sponsor-title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-title h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #1f2937;
  opacity: 0.1;
}

.sponsor-grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sponsor-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-logo-container {
  position: relative;
  display: inline-block;
}

.sponsor-logo {
  border-radius: 9999px;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.sponsor-logo:hover {
  transform: scale(1.1);
}

.sponsor-tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  padding: 1rem;
  width: 12rem;
  left: -5rem;
  top: 5rem;
  z-index: 20;
}

.sponsor-logo-container:hover .sponsor-tooltip {
  visibility: visible;
  opacity: 1;
}

.sponsor-tooltip h3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.sponsor-tooltip p {
  font-size: 0.875rem;
  color: #4b5563;
}